<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>FrameRate</title>
</head>
<body>
  <h1>FrameRate</h1>
  <form>
    <label for="sort">Sort by:</label>
    <select name="sort" id="sort">
      <option
        value="dateDesc"
        <% if (sort === "dateDesc") { %>
          selected
        <% } %>
      >
        Release date (newest first)
      </option>
      <option
        value="dateAsc"
        <% if (sort === "dateAsc") { %>
          selected
        <% } %>
      >
        Release date (oldest first)
      </option>
    </select>
    <button type="submit">Sort</button>
  </form>
  <ul class="movie-list">
    <% for (let movie of movies) { %>
      <li class="movie-list__movie">
        <a class="movie-list__link" href="/movie/<%= movie.id %>">
          <h2 class="movie-list__title"><%= movie.title %></h2>
          <p class="movie-list__release-date"><%= movie.releaseDate %></p>
        </a>
      </li>
    <% } %>
  </ul>
</body>
</html>
